.hero{
    padding: 5%;
    background-image: url("heroskills2.jpg");
    background-color: #d0e7e0;
    background-size: cover;
    background-position: center; 
}

.card{
    overflow: auto;
}

.card-header{
    background-color:  #d0e7e0;
}

body{
    background-color: black;
}

.btn{
    background-color: #e6baba;
} 

.skillimg{
    border-style: solid;
    border-color: #e6baba;
}
.accordion{
    background-color:  #d0e7e0;
    text-align: left;
}

.active, .accordion:hover {
    background-color: #e6baba; 
  }

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel.show {
    display: block !important
}

  
.footer_photo{
    height: 30px;
}

